# --- Git ---
.git
.gitignore
.gitattributes

# --- Docker ---
.dockerignore
docker-data/
docker-compose.yml

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.pytest_cache/
*.sqlite3

# Entornos virtuales
.venv/
venv/
env/
ENV/

# --- Configuración / secretos ---
.env
.env.*
instance/

# --- Node/Frontend ---
node_modules/
dist/
build/
.cache/
*.map
package-lock.json
yarn.lock

# --- IDE / OS ---
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
desktop.ini

# --- Logs ---
*.log
*.out
*.err
logs/
